@import url("variables.css");

.btn {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--button-color);
    color: var(--on-surface-color);
    border-style: solid;
    border-color: var(--button-color);
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: background-color border-color transform box-shadow;
}

.btn:hover {
    border-color: color-mix(in oklab, var(--button-color) 100%, #000 10%);
    background-color: color-mix(in oklab, var(--button-color) 100%, #000 10%);
}

.btn:active {
    box-shadow: none;
    border-color: color-mix(in oklab, var(--button-color) 100%, #000 20%);
    background-color: color-mix(in oklab, var(--button-color) 100%, #000 20%);
    transform: scale(0.99);
}