@import url("./variables.css");

.text-center {
    text-align: center;
}

.text-subtitle {
    color: var(--subtitle-color);
}

.text-title {
    font-size: 36px;
}

.text-secondary {
    color: var(--secondary-color);
}

.text-inverted {
    color: var(--on-surface-color-inverted);
}

@media screen and (min-width: 640px) {
    .text-title {
        font-size: 48px;
    }
}