@import url("./styles/base.css");
@import url("./styles/button.css");
@import url("./styles/decorations.css");
@import url("./styles/fonts.css");
@import url("./styles/footer.css");
@import url("./styles/hero.css");
@import url("./styles/link.css");
@import url("./styles/list.css");
@import url("./styles/steps.css");
@import url("./styles/typography.css");

.app {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.h-screen {
    height: 100vh;
}

.m-0 {
    margin: 0px;
}

.uppercase {
    text-transform: uppercase;
}

.max-w-md {
    max-width: 48rem;
}

.w-full {
    width: 100%;
}

.rounded {
    border-radius: 0.25rem;
}